<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832696874222-u3aa4kbh0ujnpjk0lj5vnom9ho2geagh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832696874222-u3aa4kbh0ujnpjk0lj5vnom9ho2geagh</string>
	<key>API_KEY</key>
	<string>AIzaSyBjAKDG68zWy7sTn_0wEV5gWSsD_XWsyqM</string>
	<key>GCM_SENDER_ID</key>
	<string>832696874222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.napps.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-8eeee</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-8eeee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832696874222:ios:92048d592f181055af6fff</string>
</dict>
</plist>